/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #008bfc;
  --main-color-alt: #17e089;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --p-color:#777;
  --line-height:1.5 ;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
/* End global rules */
/* Start scroller  */
#scroller {
  position:fixed;
  bottom: 0;
  left:0;
  background-color: #008bfc;
  height: 5px;
  width: 0%;
  z-index: 1000000;
}
#to-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 100000;
}
#to-top i {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
}
/* End scroller  */

/* start header */
header {
  background-image: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ececec;
  -moz-box-shadow: 0 0 10px #ececec;
  box-shadow: 0 0 10px #ececec;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header  .logo {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  height: 68.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px) {
  header  .logo {
    width: 100%;
    height: 50px;
  }
}
header .main-nav {
  display: flex;
}
@media (max-width:767px) {
  header  .main-nav {
    margin: auto;
  }
}
header  .main-nav > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 68.75px;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width:767px) {
  header  .main-nav > div > a {
    padding: 10px;
    font-size: 15px;
    height: 30px;
  }
}
header .main-nav > div > a::before {
  content:"";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color:var(--main-color) ;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .main-nav > div > a:hover {
  color: var(--main-color );
  background-color: var(--section-background);
}
header  .main-nav > div > a:hover::before {
  left: 0;
}

/* End  header */

/* start landing */
.landing {
  position: relative;
  background-image: url('../image/hero\ img.jpg');
}
.landing::before {
  content: "";
  position:absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 1;
}
.landing .container {
  min-height: calc(95vh - 68.75px);
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 100px;
  z-index: 10;
}
@media (max-width:767px) {
  .landing .container {
    flex-direction: column;
  }
}
.landing .container .landing-head {
  margin-top: 100px;
}
@media (max-width:767px) {
  .landing  .landing-head {
    margin-bottom: 30px;
    text-align: center;
  }
}
.landing .container .landing-head h3 {
  color: white;
  font-size:30px;
}
.landing .container .landing-head h1 {
  margin: 0;
  color:#0043fc;
  font-size: 70px;
}
.landing .container .landing-head p {
  font-size: 30px;
  font-weight: normal;
  color: white;
  margin: 0;
  line-height: 1.8;
}
.landing .go-down {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  color: var(--main-color);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);

}
.landing .go-down i {
  animation: bouncing 1.5s infinite;

}
@keyframes  bouncing {
  0%, 10% ,20% ,50% ,80% ,100% {
    transform: translateY(0);
  }
  40%,60% {
    transform: translateY(-10px);
  }
}
/* End landing */
/* start articles */
.about {
  padding-top: var(--main-padding-top) ;
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
  gap: 30px;
}
.about .box {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
}
.about .box .border {
  position: absolute;
  width: 50%;
  height: 100% ;
  border: #1f1f1f 10px solid;
  border-radius:10px;
  top:-20px;
  right: 100px;
  z-index: 2;
}
.about .box .image {
  position: relative;
  height: 100%;
  width: 50%;
  align-self: flex-end;
  margin-right: 80px;
  overflow: hidden;
}
.about .box img {
  position: absolute;
  background-color: #1f1f1f48;
  border-radius:10px;
  width: 100%;
  height: 100% ;
  z-index: 2;
}
.about .box .filter{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #0000006e;
  border-radius:10px;
  width: 100%;
  height: 100% ;
  bottom:0;
  right: 0;
  transform: translateY(100%);
  transition: 0.5s;
  z-index: 3;
}
.about .box .image:hover .filter {
  transform: translateY(0%);
}
.about .box .icons {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100% ;
}
.about .box .icons i {
  margin-right: 20px;
  transition: 0.3s;
}
.about .box .icons i:hover {
  color: var(--main-color);
}
.about .box .desc-box{
 border-bottom: #1f1f1f 2px dashed;
}
.about .box .desc-box h3 {
 font-size: 40px;
 font-weight: 600;
 margin-top: 0;
}
.about .box .desc-box span {
 color: var(--main-color);
}
.about .box .info-box .info {
 display: flex;
 justify-content: space-between;
}
.about .box .info-box .info .text{
 color: #777777;
}
.about .box .info-box .btns {
 display: flex;
}
.about .box .info-box .btns .btn {
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  border: none;
  padding:10px 20px;
  border-radius: 10px;
  margin-right: 20px;
  transition: 0.3s;
}
.about .box .info-box .btn:hover {
  background-color: var(--main-color-alt);
}
/* End articles */

 /* start services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  gap: 30px;
}
.services .container .box {
  background-color: var(--section-background);
  padding: 20px;
  text-align: center;
  transition: var(--main-transition);
  position: relative;
  counter-increment: services;
}
.services .container .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #b5b5b5;
  background-color: white;
}
.services .box i {
  margin-top: 30px;
  color: #cdcdcd;
  transition: var(--main-transition);
}
.services .box:hover i {
  color:var(--main-color);
}
.services .box h3 {
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
}
.services .box .info {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: #f9f8f8;
  padding: 15px;
  overflow: hidden;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  width: 140px;
  height: 48.5px;
  top: 0;
  left: -30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.services .box .info::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 40px;
  top: 0;
  left: 40px;
  transform: rotate(124deg);
  background-color: #cdcdcd;

}
.services .box .info a {
  color: var(--main-color)
}
 /* End services */

/* start PORTFOLIO */
.portFolio {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.portFolio .category {
  padding-left: 110px;
  padding-right: 100px;
  margin: 30px 0;
}
.portFolio .category a {
  font-size:20px;
  font-weight: 400;
  margin-right: 20px;
  color: #3d3d3d;
  text-transform: uppercase;
}
.portFolio .category a:hover {
  color:#0043fc;
}
.portFolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  gap: 30px;
}
.portFolio .box {
  position: relative;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px #a5a5a5;
  -moz-box-shadow: 0 0 10px #a5a5a5;
  box-shadow: 0 12px 20px 0 rgb( 0 0 0 / 13%), 0 2px 4px 0 rgb( 0 0 0 / 12%);
}
.portFolio .box .image {
  position: relative;
}
.portFolio .box .image::before {
  content: "";
  position: absolute;
  background-color: #0000003f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
  transition: var(--main-transition);
}
.portFolio .box .image:hover::before {
  opacity: 1;
}

.portFolio .box img {
  width: 100%;
  max-width: 100%;
}
.portFolio .box a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #0043fc;
  opacity: 0;
  transition: var(--main-transition);
} 
.portFolio .box:hover a {
  opacity: 1;
}
/* End PORTFOLIO */
/* start stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px ,1fr));
  gap: 20px;
}
.stats .box {
  background-color: white;
  text-align: center;
  position: relative;
  transition: 0.7s;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition: 0.7s;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box::before {
  bottom: 0;
  left: 0;

}
.stats .box::after {
  top: 0;
  right: 0;
}
.stats .box i {
  margin-top: 10px;
  color: rgb(51, 51, 51)
}
.stats .box:hover h3, 
.stats .box:hover i {
  color: black;
}
.stats .box h3 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(51, 51, 51);
} 
.stats .box p {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
} 
/* End stats */
 /* start testimonials  */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.testimonials .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.testimonials .container .box {
  width: 550px;
  box-shadow: 0 0 10px #cdcdcd ;
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
  display: flex;
  overflow: hidden;
}
.testimonials .container .box .back-ground {
  position: absolute;
  content: "";
  background-color: #0043fc;
  width: 200px;
  height: 300px;
  top: -120px;
  left: -100px;
  transform:rotate(44deg);
  z-index: 2;
}

.testimonials .box img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: 3;
}
.testimonials .box h3 {
  margin-left: 20px;
}
.testimonials .box .title {
  margin-left: 20px;
  color: var(--p-color);
}
.testimonials  .box .icon {
  margin-left: 20px;
}
.testimonials  .box .icon i {
  color: gold;
}
.testimonials .box p {
  margin-left: 20px;
  color: var(--p-color);
}
 /* End testimonials  */
 /* start blog */
.blog {
  padding-top: var(--main-padding-top) ;
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
  position: relative;
}
.blog .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
  gap: 20px;
}
.blog .container .box {
  -webkit-box-shadow: 0 0 10px #cdcdcd;
  -moz-box-shadow: 0 0 10px #cdcdcd;
  box-shadow: 0 0 10px #cdcdcd;
  border-radius: 5px;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
  overflow: hidden;
}
.blog .box:hover {
  box-shadow: 0 0 20px #cdcdcd;
  transform: translateY(-10px);
} 
.blog .box img {
  width: 100%;
  max-width:100% ;
  height: 230px;
}
.blog .box .content {
  border-bottom: 1px solid #777;
}
.blog .box .content > p {
  margin-left: 15px;
  line-height: var(--line-height);
  color: #777;
}
.blog .box .content h3 {
  margin: 0;
  font-size: 25px;
  margin-left: 15px;
  color: #1f1f1f;
  transition: var(--main-transition);
}
.blog .box .content h3:hover {
  color: var(--main-color);
}
.blog .box .content p {
  margin-left: 15px;
  line-height: var(--line-height);
  color: #777;
}
.blog .box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
}
.blog .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.blog .box .info i {
  color: var(--main-color);
}
.blog .box:hover .info i {
  animation: move-right 0.6s linear infinite;
}
@keyframes move-right {
  100% {
    transform: translateX(10px);
  }
}
/* End blog */
/* start contact */

.contact {
 padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto 70px;
  width: 500px;
}
.contact form span {
  display: flex;
  column-gap: 20px;
}
.contact form span span {
  width: 50%;
}
.contact form span span input {
  width: 100%;
}
.contact form .input,
.contact form span span input {
  padding: 15px;
  background-color: white;
  border: none;
  margin-bottom: 30px;
  caret-color: var(--main-color);
}
.contact form .input{
  display: block;
  width: 100%;
}
.contact form input[type="text"] {
  border-bottom:1px solid #c5c5c5;
  
}
.contact form input[type="email"] {
  border-bottom:1px solid #c5c5c5;
}
.contact form input[type="text"] {
  border-bottom:1px solid #c5c5c5;
}
.contact form textarea {
  height: 200px;
}
.contact form input[type="submit"] {
  padding: 20px 40px ;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.contact form input[type="submit"]:hover {
  background-color: hsl(214, 98%, 40%);
}
.contact form textarea:focus,
.contact form input[type="text"]:focus,
.contact form input[type="email"]:focus {
  outline: none;
  border: #0043fc 1px solid;
}
.contact form textarea::placeholder,
.contact form input[type="text"]::placeholder,
.contact form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.contact form textarea:focus::placeholder,
.contact form input[type="text"]:focus::placeholder,
.contact form input[type="email"]:focus::placeholder {
  opacity: 0;
}
/* End discount */

/* start footer */
.footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
}

.footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .icons i {
  font-size: 20px;
  color: var(--p-color);
  cursor: pointer;
  margin-right: 20px;
}
.footer .icons i:hover {
  color: var(--main-color);
}
.footer .end {
  font-size: 20px;
  font-weight: 600;
  color: var(--section-background);
}
.footer .end span {
  color: var(--main-color);
}
/* End footer *